.Navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70px;
    background-color: #ADD8E6;
    align-items: start;
    justify-content: center;
    z-index: 1;
    transition: width 1s;
    transition-timing-function: ease-out;
    overflow: hidden;
}


.Navbar:hover {
    align-items: start;
    padding-right: 20px;
    width: 180px;
    z-index: 1;
}

.NavLinkCon{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.Navlink{
    margin:5px 10px;
    background-color: transparent;

    border-style:solid ;
    border-width: 1px;  
    border-radius: 25%;

    height: 50px;
    width: 50px;
}

.Navlink:hover{
    background-color: #000080;
}

.Navlink:active{
    background-color: brown;
}


.Logo{
    position:fixed;
    top: 0px;
    height: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    /* border: #000080;
    border-style: solid;
    border-width: 2px; */
}
