.Navbar {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    flex-direction: row;
    height: 70px;
    width: 100vw;
    background-color: #ADD8FF;
    justify-content: flex-start;
    z-index: 1;
    gap: 20px;
}

.NavLinkCon {
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Navlink {
    margin: 5px 10px;
    background-color: transparent;

    border: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    height: fit-content;
    width: fit-content;

    font-size: large;
}

.Navlink:hover {
    box-shadow: rgba(100, 100, 255, 0.4) 0px 10px;
    cursor: pointer;
}

.UserProfile { 
    background-color: transparent;
    border: 0;
    font-size: large;
    position: absolute;
    right: 10px;
    top: 10px;
}

.UserProfile:hover{
    cursor: pointer;
}