.FiltersContainer {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    align-content: space-around;
    justify-content: center;

    margin-top: 2%;
    padding: 15px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    animation-name: FiltersAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.Filter {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

@keyframes FiltersAnimation{
    from {height: 0px;}
    to {height: 15%;}
}
